In [1]:
import pandas as pd
import numpy as np
import math

1. create a dummy dataframe that is similar to the relevant columns:
2. make the function
3. test it

In [2]:
my_dict = {'my_str': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i'],
          'val_a': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, np.nan],
          'val_b': [0.9, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, np.nan],
          'val_c': [1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4, np.nan]}

In [3]:
df = pd.DataFrame.from_dict(my_dict)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   my_str  9 non-null      object
 1   val_a   8 non-null      float64
 2   val_b   8 non-null      float64
 3   val_c   8 non-null      float64
dtypes: float64(3), object(1)
memory usage: 416.0+ bytes

In [5]:
df

  my_str  val_a  val_b  val_c
0      a    0.1    0.9    1.7
1      b    0.2    1.0    1.8
2      c    0.3    1.1    1.9
3      d    0.4    1.2    2.0
4      e    0.5    1.3    2.1
5      f    0.6    1.4    2.2
6      g    0.7    1.5    2.3
7      h    0.8    1.6    2.4
8      i    NaN    NaN    NaN

In [6]:
list_to_map = ['a', 'b', 'c']

In [7]:
def new_val(my_str, val_a, val_b, val_c):
    if my_str in list_to_map:
        if my_str == 'a':
            return val_a
        elif my_str == 'b':
            return val_b
        elif my_str == 'c':
            return val_c
    else:
        if math.isnan(val_a):
            return np.nan
        else:
            my_mean = (val_a + val_b + val_c)/3
            return my_mean

In [8]:
df['new_col'] = df.apply(lambda row : new_val(row['my_str'],
                     row['val_a'], row['val_b'], row['val_c']), axis = 1)

In [9]:
df

  my_str  val_a  val_b  val_c  new_col
0      a    0.1    0.9    1.7      0.1
1      b    0.2    1.0    1.8      1.0
2      c    0.3    1.1    1.9      1.9
3      d    0.4    1.2    2.0      1.2
4      e    0.5    1.3    2.1      1.3
5      f    0.6    1.4    2.2      1.4
6      g    0.7    1.5    2.3      1.5
7      h    0.8    1.6    2.4      1.6
8      i    NaN    NaN    NaN      NaN